<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Tarefas | <%= username %></title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" />
</head>
<body>
  <div class="text-center">
    <h1>Tarefas</h1>
    <p><em><%= username %></em></p>
  </div>
  <hr />

  <div class="container">
    <div class="error-container">
      <% if (error) { %>
        <div class="alert alert-danger">
          <%= error %> 
        </div>
      <% } %>
    </div>

      <form method="POST" name="create-task-form" class="form-group" onsubmit="notNull(event)">
        <div class="input-group mb-3" style="width: 100%">
          <input type="text" name="task" id="task-name" class="form-control" required />
          <div class="input-group-append">
            <button type="submit" class="btn btn-primary">Criar</button>
          </div>
        </div>
      </form>

    <ul class="list-group">
      <% tasks.forEach(task => { %>
        <li class="list-group-item font-weight-bold">
          <span data-id="<%= tasks.indexOf(task) %>"><%= task %></span>
          <button class="btn btn-danger float-right" onclick="deleteTask(event)">Excluir</button>
        </li>
      <% }) %>
    </ul>
  </div>

  <script type="module" src="/public/js/tasks.js"></script>
</body>
</html>